body{
    background-color: rgb(226, 226, 245);
}

header{
  display: flex;
  justify-content: space-around;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;

}

h1{
    color: rgb(89, 135, 228);
    text-decoration: underline;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }

a{
  border-radius: 5px;
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  margin: 10px;
}

a:hover{
  display: inline-block;
  box-shadow:  5px 5px black;
}

a:active{
  font-size: 5px;
}